
/* Page organization */

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-hero {
    display: flex;
}

.footer {
    display: flex;
    background-color: #2b2b2b;
}

.header-hero, 
.sign-up-text {
    flex-direction: column;
}

.header, .hero {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #755A39;
}

ul {
    display: flex;
    gap: 40px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
    gap: 20px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
    url("./images/laurent-perren-3yiaqDO8kIE-unsplash.jpg");
    background-size: cover;
    background-position: 0 -20vw;
}

.left-half h2,
.left-half p {
    margin: 5px 0;
}

.left-half,
.cards {
    display: flex;
    flex-direction: column;
}

.cards {
    justify-content: space-evenly;
    align-items: center;
}

.card-set {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.card {
    text-align: center;
    flex-basis: 100px;

    font-size: 16px;
    font-weight: bold;
    color:#B58B59
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
}

blockquote,
figcaption {
    width: 50vw;
    margin: 0 auto;
}

figcaption {
    text-align: right;
}
/* Sections' sizes */

body > section {
    flex-basis: 30vw;
    margin: 2vh 0;
}

.header-hero,
footer {
    margin: 0;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20vh;
}

.sign-up-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 85vw;
    height: 15vh;

    background-color: #B58B59;
}

.sign-up-text  {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    flex-basis: 8vh;
}

footer p {
    width: 30vw;
    margin: 0 auto;
}

img{
    border: #B58B59 solid 3px;
    border-radius: 10px;
    width: 200px;
    height: auto;
}

.hero > img {
    border: none;
    width: 300px;
}

.left-half {
    flex-basis: 600px;
}

/* Styling rules */

body {
    font-family: "Roboto", sans-serif
}

h1, h2, .sign-up,
footer {
    color: #f9faf8;
}

/* Text sizes */

h1 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    margin: 15px 0;
}

a,
.left-half > p {
    font-size: 18px;
    margin: 15px 0;
    color: #e5e7eb
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color: #755A39;
}

.dark-title {
    font-size: 36px;
    color: #755A39;
}

.sign-up-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    text-align: center;
}

a {
    display: inline-block;
    color: #e5e7eb;
    text-decoration: none;
    font-weight: bold;
}

figcaption a {
    color:#755A39
}

.button-empty,
.button-full,
.sign-up-card {
    border-radius: 10px;
}

button {
    color:#e5e7eb;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
}

.button-full {
    background-color: #B58B59;
    border: none;
}

.button-empty {
    background-color: #B58B59;
    border: 2px solid #e5e7eb;
}