
/* Page organization */

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-hero,
footer {
    display: flex;
    background-color: #1f2937;
}

.header-hero, 
.sign-up-text {
    flex-direction: column;
}

.header, .hero {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    gap: 10px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10vh;
}

.left-half h2,
.left-half p {
    margin: 5px 0;
}

.left-half,
.cards {
    display: flex;
    flex-direction: column;
}

.cards {
    justify-content: space-evenly;
    align-items: center;
}

.card-set {
    display: flex;
    gap: 10vw;
}

.card {
    flex: 1;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
}

blockquote,
figcaption {
    width: 50vw;
    margin: 0 auto;
}

figcaption {
    text-align: right;
}
/* Sections' sizes */

body > section {
    flex-basis: 30vw;
    margin: 2vh 0;
}

.header-hero,
footer {
    margin: 0;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20vh;
}

.sign-up-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 85vw;
    height: 15vh;

    background-color: #3882f6;
}

.sign-up-text  {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    flex-basis: 8vh;
}

footer p {
    width: 30vw;
    margin: 0 auto;
}

/* Styling rules */

body {
    font-family: "Roboto", sans-serif
}

h1, h2, .sign-up {
    color: #f9faf8;
}

/* Text sizes */

h1 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    margin: 15px 0;
}

a,
.left-half > p {
    font-size: 18px;
    margin: 15px 0;
    color: #e5e7eb
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.dark-title {
    font-size: 36px;
    color: #1f2937;
}

.sign-up-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.button-empty,
.button-full,
.sign-up-card {
    border-radius: 10px;
}

button {
    color:#e5e7eb;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
}

.button-full {
    background-color: #3882f6;
    border: none;
}

.button-empty {
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
}