
/* Page organization */

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-beginning,
footer {
    display: flex;
    background-color: #1f2937;
}

.header-beginning, 
.sign-up-text {
    flex-direction: column;
}

.beginning,
.sign-up,
.sign-up-text  {
    display: flex;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    gap: 10px;
}

.beginning {
    justify-content: space-around;
}

.left-half,
.cards {
    display: flex;
    flex-direction: column;
}

.cards {
    justify-content: center;
    align-items: center;
}

.card-set {
    display: flex;
    gap: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #7a7e83;
}

blockquote,
figcaption {
    width: 50vw;
    margin: 0 auto;
}

blockquote {
    font-size: 40px;
}

figcaption {
    text-align: right;
}

body > section {
    flex-basis: 30vh;
}

.sign-up {
    justify-content: space-around;
    align-items: center;
    flex-basis: 20vh;
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    flex-basis: 8vh;
}

footer p {
    width: 30vw;
    margin: 0 auto;
}

